/*
 * Copyright (c) 2024 CATIE
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	zephyr,user {
		driver_enable_gpios = <&gpioa 12 GPIO_ACTIVE_HIGH>;
	};
};
